.servicesParentDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.serviceDiv {
  margin-top: 3rem;
  position: relative;
  width: 80%;
}

.serviceCard {
  padding: 1.2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 0;
}
