.nav-item {
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  text-decoration: none ;
  color: #000;
  border-radius: 4rem;
  font-weight: 600;
}

.nav-item:hover {
  color: #fff;
  background-color: #000;
}

.nav-item.active {
  color: #fff;
  background-color: #000;
}