.nav-item {
  padding: 16px;
  border: 0;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  background-color: #f0f0f0;
  font-weight: 400;
}

.nav-item:hover {
  color: #fff;
  background-color: #000;
}

.nav-item.active {
  color: #fff;
  background-color: #000;
}
